@font-face {
    font-family: 'pfagoraslabpro';
    src: url('../fonts/pfagoraslabpro-reg.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'pfagoraslabpro';
    src: url('../fonts/pfagoraslabpro-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}