/* main styles */
body {
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-style: normal;
	background: url('../pic/logo_bgr.png') center center repeat;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
}

.wrap {
	padding: 5% 0% 7%;
}

.container {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	text-align: center;
}

.title {
	font-size: 2.2em;
	font-family: 'Philosopher', sans-serif;
	font-weight: 700;
	font-style: normal;
	width: 80%;
	max-width: 700px;
	margin: 0 auto;
}

.title-big {
	font-size: 1.8em;
	font-variant: small-caps;
}

.title__small {
	font-size: 2em;
	font-weight: 700;
	font-family: 'Philosopher', sans-serif;
}


.title__line{
	display: block;
	width: 0%;
	height: 4px;
	background-color: #662382;
	margin: 2% auto;
}

.list {
	list-style-type: none;
	font-size: 0;
	margin: 0;
	padding: 0;
}

.list-item {
	margin: 0;
	display: inline-block;
	padding: 0;
	font-size: 16px;
}

.clearfix::after {
	content: "";
	overflow: hidden;
	display: table;
	clear: both;
}

.title-block_bg {
	background: url('../pic/luvin.ua.png') center center no-repeat;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
	padding: 5% 0;
}
/* end of main styles */

/* main-section styles */
.main_wrap {
	padding-top: 0;
}

header {
	background-color: rgba(255, 255, 255, 0.7);
}

.header-container {
	text-align: left;
	margin: 0 auto;
	padding: 20px 0;
}

.header-item {
	display: inline-block;
	vertical-align: middle;
}

.logo {
	position: relative;
}

.logo img {
	display: inline-block;
	margin: 0;
	padding: 0;
}
.logo span {
	position: absolute;
	right: 4px;
	bottom: -5px;
	font-size: 0.8em;
	font-weight: 700;
}

.slogan {
	width: 280px;
	padding-left: 10px;
	position: relative;
	margin-left: 10px;
}

.slogan::before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 1px;
	height: 100%;
	background-color: #662382;
}

.left-header-item {
	float: right;
}

.languages {
	font-size: 1.3em;
	color: #662382;
	margin-left: 17%;
}

.languages .languages-item:nth-child(1)::after {
	content: "|";
	font-size: 1em;
	color: #662382;
	text-align: right;
	padding-left: 7px;
}

.languages-item {
	color: #662382;
}

.languages-item__active {
	color: rgba(118, 30, 133, 0.51);
}

.languages-item:hover {
	color: rgba(118, 30, 133, 0.51);
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.tel {
	float: right;
	text-align: right;
	width: 180px;
}

.number {
	font-size: 1.5em;
	font-weight: 700;
}

.show_form {
	display: inline-block;
	margin: 0;
	padding: 0;
	border-bottom: 1px dashed #662382;
	color: #662382;
	font-weight: 400;
	cursor: pointer;
}

#main {
}

.main_section {
	background:
	url('../img/top-window.png') center center no-repeat,
	url('../img/top-wrap.jpg') center center no-repeat;
	background-size: cover;
}

.main_container {
	background: none;
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,.9) 0%, rgba(255,255,255,0.5) 60%, rgba(255,255,255,0.1) 73%, rgba(255,255,255,0) 100%); /* ff3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,.9)), color-stop(60%, rgba(255,255,255,0.5)), color-stop(70%, rgba(255,255,255,0.1)), color-stop(100%, rgba(255,255,255,0) 100%)); /* safari4+,chrome */
	background:-webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,.9) 0%, rgba(255,255,255,0.5) 60%, rgba(255,255,255,0.1) 73%, rgba(255,255,255,0) 100%); /* safari5.1+,chrome10+ */
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,.9) 0%, rgba(255,255,255,0.5) 60%, rgba(255,255,255,0.1) 73%, rgba(255,255,255,0) 100%); /* opera 11.10+ */
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,.9) 0%, rgba(255,255,255,0.5) 60%, rgba(255,255,255,0.1) 73%, rgba(255,255,255,0) 100%); /* ie10+ */
	background: radial-gradient(ellipse at center, rgba(255,255,255,.9) 0%, rgba(255,255,255,0.5) 60%, rgba(255,255,255,0.1) 73%, rgba(255,255,255,0) 100%);
}

.main_img {
	width: 80%;
	max-width: 500px;
	margin: 5% 0%;
}

.main-description {
	font-size: 1.2em;
	padding-bottom: 10%;
}

.main-description::before {
	content: "";
	background: url('../pic/top-bottom-line.png') center center no-repeat;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
	height: 72px;
	display: block;
	margin: 0 auto;
}
/* end of main-section styles */
/* benefits-section styles */
.title-description {
	width: 90%;
	max-width: 700px;
	margin: 0 auto;
}

.benefits_list {
	list-style-type: none;
	font-size: 0;
	margin: 0px -6px;
	padding: 0;
}

.benefits_item {
	margin: 40px 0 0 40px;
	border: 4px solid #662382;
	display: inline-block;
	width: 230px;
	padding: 1% 0;
}

.benefits_item-text {
	background-color: #ffffff;
	font-size: 16px;
	padding: 5% 26% 5% 0;
	margin-left: -30px;
	text-align: left;
	position: relative;
}

.benefits_item-text::before {
	content: "";
	width: 50px;
	height: 50px;
	position: absolute;
	top: 9%;
	right: 4%;
	display: block;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
}

.benefits_item-text__garanty::before {
	background-image: url('../pic/page-quality.svg');
}
.benefits_item-text__professional::before {
	background-image: url('../pic/people.svg');
}
.benefits_item-text__color::before {
	background-image: url('../pic/paint-swatch.svg');
}
.benefits_item-text__forms::before {
	background-image: url('../pic/mind-gears.svg');
}
.benefits_item-text__years::before {
	background-image: url('../pic/checked-calendar.svg');
}
.benefits_item-text__energo::before {
	background-image: url('../pic/smart-home.svg');
}

/* end of benefits-section styles */
/* old-window-section styles */
/*
#old-window {
	background:
	url(../pic/old-window/veter.png) center center no-repeat,
	url(../pic/old-window/veter_rotate.png) center center no-repeat,
	url(../pic/dots.png),
	url(../img/old-window_wrap.jpg) center center no-repeat;
}
*/

#old-window {
	}
.old-window_wrap{
	overflow: hidden;
	position: relative;

}
.old-window_wrap1{
	background:
	url(../pic/old-window/veter_rotate.png) center center no-repeat;
}
.old-window_wrap2{
	background:
	url(../pic/dots.png);
}
.old-window_wrap3{
	background:
	url(../img/old-window_wrap.jpg) center center no-repeat;
}
.old-window_wrap4{
	background:
	url(../pic/old-window/veter.png) center center no-repeat;
}

.old-window__content {
	background: url(../pic/old-window.png) center center no-repeat;
	background-size: contain;
	font-weight: 700;
	width: 95%;
	max-width: 800px;
	margin: 5% auto 0;
	position: relative;
	z-index: 2;
}
.posrel{
	position: relative;
}
.old-window_img {
	display: none;
	padding: 0;
	margin: 0 auto;
	width: 300px;
}

.old-window_list__left {
	float: left;
	width: 25%;
	text-align: right;
}

.old-window_list__right {
	float: right;
	width: 25%;
	text-align: left;
}

.old-window_item__left,
.old-window_item__right
 {
	padding: 10% 0;
}
/* end of old-window-section styles */
/* new-window-section styles */
/* .new-window_wrap {
	padding-bottom: 0;
} */

#new-window {
	margin: 5% 0;
}

.new-window_titleblock {
	padding-left: 30px;
	/* max-width: 750px; */
	margin: 0 auto;
	padding-top: 5%;
	vertical-align: middle;
}

.new-window_item_wrap {
	padding: 0;
	box-shadow: 0 10px 20px -6px rgba(0, 0, 0, 0.14);
}

.new-window_wrap .new-window_item_wrap:last-child {
	padding-bottom: 7%;
}

.new-window_title {
	border: 4px solid #662382;
	/* width: 300px; */
	padding: 5px 0;
	margin: 0;
}

.new-window_title-text {
	background-color: #ffffff;
	font-size: 1.3em;
	padding: 15px 20px;
	margin-left: -30px;
	margin-right: 0;
	text-align: left;
}

.new-window_title-text span {
	font-weight: 700;
	font-family: 'Philosopher', sans-serif;
	font-size: 1.7em;
	padding: 0;
	margin: 0;
}

.new-window_price {
	position: relative;
	margin: 5% 0;
	padding: 0 0 0 35px;
	text-align: left;
	line-height: 1.4em;
	color: #662382;
}

.new-window_price::before {
	position: absolute;
	display: block;
	content: "";
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	background-image: url(../pic/price_item.png);
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}

.new-window_price span {
	font-style: italic;
}

.b {
	font-weight: 700;
}

.around_icon {
	position: absolute;
	bottom: 0px;
	right: 150px;
}    

.around_icon_item {
	width: 20px;
	height: 20px;
	vertical-align: top;
}

.around_icon span {
	font-size: 12px;
	line-height: 12px;
	color: #662382;
	text-align: center;
	    top: -19px;
    right: 61px;
    position: absolute;
}

.around_icon_test {
	right: 110px;
}

.around_icon_item_test {
	margin-top: 7px;
	width: 50px;
	height: 50px;
	vertical-align: top;
	background: url(../pic/finger-an-arrow2.svg);
}

.pause_around_icon_item_test {
	background: url(../pic/pause.svg) !important;
}

/* .around_icon .around_icon_item:nth-child(2) {
	margin-top: 7px;
	width: 40px;
	height: 40px;
} */

.around_icon .around_icon_item:nth-child(1) {
	/* margin-right: 5px; */
	    margin-right: 44px;
    margin-top: -11px;
}

.around_icon .around_icon_item:nth-child(3) {
	/* margin-left: -10px; */
	    margin-right: 44px;
    margin-top: -11px;

}

.new-window_leftblock, 
.new-window_rightblock {
	width: 48%;
	max-width: 300px;
}

.new-window_leftblock {
	float: left;
}
.new-window_rightblock {
	text-align: left;
	font-size: 1.5em;
	position: relative;
	padding-left: 20px;
	float: right;
	line-height: 1.2em;
}

.new-window_rightblock_1 {
	margin-top: 25px;
}

.new-window_rightblock_2 {
	margin-top: 15px;
}

.new-window_rightblock::before {
	position: absolute;
	display: block;
	content: "";
	width: 4px;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #662382;
}

.new-window_rightblock span {
	font-weight: 700;
}

.new-window_list {
	/* font-weight: 700; */
	width: 95%;
	max-width: 900px;
	margin: 0 auto;
}

.new-window_list__2 .window_list_item {
	padding-right: 0;
}

.window_list_item::before {
	position: absolute;
	display: block;
	background-color: #e6e6e6;
	width: 4px;
	height: 100%;
	top: 0;
	left: 0;
	content: "";
}

.new-window_more-options {
	text-align: right;
	padding-bottom: 30px;
}

.more-options_item {
	color: #662382;
	font-size: 1em;
	font-weight: 700;
	text-align: right;
	display: block;
	text-decoration: underline;
	line-height: 1.5em;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

.more-options_item:hover {
	color: #b400ff;
	text-decoration: underline;
}

.new-window_more-options .more-options_item:nth-child(1) {
	margin-top: 10px;
	position: relative;
	padding-left: 25px;
	display: inline-block;
}

.new-window_more-options .more-options_item:nth-child(1)::before {
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	background-image: url('../pic/download.svg');
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
	position: absolute;
	top: 0;
	left: 0;
}

.new-window_more-options .more-options_item:nth-child(1):hover::before {
	background-image: url('../pic/download-hover.svg');
}

.read-more_wrap1, .read-more_wrap2, .read-more_wrap3 {
	background: url('../img/luvin-light-big.jpg') center top no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	padding-top: 10px;
	margin: 0;
}

.read-more_wrap2{
	background: url('../img/luvin-standart-big.jpg') center top no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	padding-top: 10px;
	margin: 0;

}

.read-more {
	margin-left: 50%;
}

.read-more_title {
	font-size: 1.5em;
	text-align: left;
	margin: 0;
	padding-bottom: 2%;
}

.read-more_description::before {
	content: "";
	display: block;
	width: 30px;
	height: 4px;
	background: #bebebe;
	margin-bottom: 10px;
}

.read-more_description p {
	text-align: left;
	padding-bottom: 10px;
}
/* end of new-window-section styles */
/* payment-section styles */

/* end of payment-section styles */
/* managers-section styles */
.managers_title span {
	font-weight: 400;
	font-family: 'PT Sans', sans-serif;
}

.managers_wrap {
	z-index: -1;
	background: url('../img/block-manager-bg.jpg') center center no-repeat;
	-webkit-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}

.managers_content {
	margin: 5% auto 0;
	background: none;
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,.9) 0%, rgba(255,255,255,0.5) 60%, rgba(255,255,255,0.1) 73%, rgba(255,255,255,0) 100%); /* ff3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,.9)), color-stop(60%, rgba(255,255,255,0.5)), color-stop(70%, rgba(255,255,255,0.1)), color-stop(100%, rgba(255,255,255,0) 100%)); /* safari4+,chrome */
	background:-webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,.9) 0%, rgba(255,255,255,0.5) 60%, rgba(255,255,255,0.1) 73%, rgba(255,255,255,0) 100%); /* safari5.1+,chrome10+ */
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,.9) 0%, rgba(255,255,255,0.5) 60%, rgba(255,255,255,0.1) 73%, rgba(255,255,255,0) 100%); /* opera 11.10+ */
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,.9) 0%, rgba(255,255,255,0.5) 60%, rgba(255,255,255,0.1) 73%, rgba(255,255,255,0) 100%); /* ie10+ */
	background: radial-gradient(ellipse at center, rgba(255,255,255,.9) 0%, rgba(255,255,255,0.5) 60%, rgba(255,255,255,0.1) 73%, rgba(255,255,255,0) 100%);
}

.managers_options {
	font-size: 1em;
	text-align: left;
	padding-bottom: 15px;
	list-style-type: none;
	margin: 0 auto;
	padding: 0 2%;
}

.managers_options li {
	display: inline-block;
	width: 39%;
	font-size: 0.9em;
	padding-left: 8%;
	vertical-align: top;
	margin-bottom: 2%;
	position: relative;
}

.managers_options li::before {
	position: absolute;
	content: "";
	display: block;
	width: 15%;
	height: 55%;
	top: 0;
	left: 0;
}

.managers_options li:nth-child(1)::before {
	background: url('../pic/managers_acsesories.png') center center no-repeat;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
}
.managers_options li:nth-child(2)::before {
	background: url('../pic/managers_zhaluzi.png') center center no-repeat;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
}
.managers_options li:nth-child(3)::before {
	background: url('../pic/managers_question.png') center center no-repeat;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
}
.managers_options li:nth-child(4)::before {
	background: url('../pic/managers_design.png') center center no-repeat;
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
}
.managers_options li:nth-child(2),
.managers_options li:nth-child(4) {
	margin-left: 5%;
}

.managers_options_atr {
	font-weight: 700;
	text-transform: uppercase;
}

.managers_images img {
	width: 100%;
	border-bottom: 4px solid #662382;
	-webkit-box-shadow: 0 10px 20px -6px rgba(0, 0, 0, 0.14);
	        box-shadow: 0 10px 20px -6px rgba(0, 0, 0, 0.14);
}

.managers_form {
	width: 100%;
	display: inline-block;
	margin-top: 5%;
}

.form_title {
	font-size: 1.7em;
	padding-bottom: 3%;
	
}

.form_description {
	color: #3C3A3A;
	font-size: 0.9em;
	line-height: 1.2;
	padding: 0 5%;
}

.managers_form_input,
.managers_form_textaling{
	width: 49%;
	display: inline-block;
}

.managers_form_textaling {
	vertical-align: bottom;
}

.open_form {
	padding: 3%;
	padding-bottom: 0;
	text-align: left;
}

.open_form_item_input {
	width: 100%;
	padding: 3%;
	margin: 2% auto;
	font-size: 0.9em;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-style: normal;
	border: 1px solid #ffb400;
	background-color: rgba(255, 255, 255, 0.4);
	color: #662382;
}

.open_form_item_input::-webkit-input-placeholder {
	color: rgba(102, 35, 131, 0.63);
	font-size: 0.9em;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-style: italic;
}

.open_form_item_input::-moz-placeholder {
	color: rgba(102, 35, 131, 0.63);
	font-size: 0.9em;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-style: italic;
}

.open_form_item .valid {
	font-size: 0.7em;
	color: #ff6200;
}

#submitOpenForm {
	min-width: 220px;
	max-width: 300px;
}

/* end of managers-section styles */
/* feedback-section styles */
.feedback_wrap {
	padding-bottom: 0;
}
/* end of feedback-section styles */
/* montague-sections styles */
.montague_list {
	margin: 5% 0 0 0;
	color: #662382;
}

.montague_list_item {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 30px;
	font-family: 'Philosopher', sans-serif;
	font-weight: 700;
	position: relative;
}

.montague_list .montague_list_item:nth-child(2) {
	padding: 0 5px;
}

.montague_list .montague_list_item::before {
	font-size: 16px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	font-style: normal;
	position: absolute;
	top: 90%;
	left: 0;
	color: #662382;
}

.montague_list .montague_list_item:nth-child(1)::before {
	content: "окно";
}

.montague_list .montague_list_item:nth-child(3)::before {
	content: "монтаж";
}
/* end of montague-sections styles */

/* feedback-sections styles */
.feedback-slider_container {
    max-width: none;
}

.feedback-slider_wrap {
	padding: 0;
}

.slider-title {
	font-size: 1.5em !important;
	padding: 5% 0;
	
}

.slider_gallery {
	width: 45%;
	display: inline-block;
}

.gallery_img_main {
	width: 100%;
	cursor: pointer;
}

.gallery_img_previev {
	width: 15%;
	margin: 2% 1% 0;
	display: inline-block !important;
	cursor: pointer;
}

.slider_feedback {
	width: 46%;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin: 0 2%;
}

.feedback-slider_description {
	max-width: 700px;
	margin: 0 auto;
}

.slider_feedback_name {
	font-weight: 700;
	font-size: 1.2em;
}

.slider_feedback_job {
	font-style: italic;
	border-bottom: solid 4px #c5c5c5;
}

.slider_feedback_text {
	padding-top: 5%;
}

.slider_description {
	padding-bottom: 5%;
}

.slider_descriptional_title {
	font-size: 1.2em;
	text-align: left;
	padding: 3% 0;
	margin: 0;
}

.option__item-icon {
	width: 30px;
	margin: 0;
	padding: 5px;
	display: inline-block;
	height: 28px;
	border: solid 3px #662382;
	background-image: url('../pic/icons-gallery_feedback.png');
}

.option__item:nth-child(1) .option__item-icon {
	background-position: -12px 0px;
}

.option__item:nth-child(2) .option__item-icon {
	background-position: -12px -62px;
}

.option__item {
	
}

.option__item p {
	display: inline-block;
	font-weight: 700;
	font-size: 1.2em;
	margin-left: 5%;
	vertical-align: top;
}

.option__item-term::after {
	content: "площадь работ";
	display: block;
	font-size: 0.8em;
	font-weight: 400;
	line-height: 12px;
}

.option__item-square::after {
	content: "срок выполнения";
	display: block;
	font-size: 0.8em;
	font-weight: 400;
	line-height: 12px;
}


.slider_descriptional_option {
	display: inline-block;
	width: 30%;
	text-align: left;
}

.slider_descriptional_text {
	display: inline-block;
	width: 67%;
	position: relative;
	text-align: left;
	padding-left: 2%;
	vertical-align: top;
}

.slider_descriptional_text::before {
	position: absolute;
	display: block;
	content: "";
	width: 4px;
	height: 100%;
	background-color: #662382;
	top: 0;
	left: 0;
}
/* end of feedback-sections styles */
/* map-section styles */
.cityPopUp_item {
	display: inline-block;
	width: 40%;
	padding-top: 15px;
}

.adressPopUp {
	font-weight: 700;
}

.contactAdresa a {
	font-size: 0.9em;
}

.contrCont_step {
	display: block;
	padding: 2% 0 0 0;
	color: #662382;
	font-size: 1.2em;
	text-align: center;
}
/*---------map-button-style---------*/

.butContrCont{
	margin:20px auto 0;
	position: relative;
	cursor: pointer;
	width: 60%;
    min-width: 220px;
	padding: 15px 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #f8f8f8;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
	border: 2px solid #afafaf;
	color: #000000;
	text-transform: uppercase;
	text-align: center;
    overflow: hidden;
    -webkit-transition: .3s all;
            transition: .3s all;
}

.butContrCont span{
  display: block;
  font-size: 1.2em;
	letter-spacing: 2px;
	margin: auto;
    position: relative;
    z-index: 999;
    -webkit-transition: .3s all;
            transition: .3s all;
}

.butContrCont:before{
    content: "";
    position: absolute;
    height: 100%;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    top: 0;
    -webkit-transform: rotatey(90deg);
            transform: rotatey(90deg);
    -webkit-transition: 0.3s all;
            transition: 0.3s all;
    overflow: hidden;
 }

.butContrCont:hover {
		border: 2px solid #662382;
}

.butContrCont:hover:before {
	 -webkit-transform: rotatey(0);
	         transform: rotatey(0);
 }
.butContrCont:hover > span {
	color: #662382;
}
/*end of map-button-style*/
/* end of map-section styles */

/* showForm_elements */
.nameForm {
	font-size: 1.7em;
	padding-bottom: 3%;
	font-family: 'Philosopher', sans-serif;
	font-weight: 700;
	font-style: normal;
	text-align: center;
	padding: 10px 5%;
}

.nameForm::after {
	content: "";
	display: block;
	width: 30%;
	height: 4px;
	background-color: #662382;
	margin: 2% auto;
}

.nameForm::first-letter {
	text-transform: uppercase;
}

.nameFormComent {
	color: #3C3A3A;
	font-size: 0.9em;
	padding: 0 5% 3%;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-style: normal;
	text-align: center;
}

.formStyle {
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-style: normal;
	text-align: left;
	font-size: 1.2em;
}

.form_title::after {
	display: none;
}

.form_title {
	padding-bottom: 2%;
}

.form_description {
	padding-bottom: 0;	
}

.formPopUp_item {
	margin-bottom: 1%;
}

.formStyle_input {
	width: 60%;
	min-width: 220px;
	padding: 2%;
	margin: 0 auto 2%;
	font-size: 15px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-style: normal;
	border: 3px solid #bebebe;
	background-color: rgba(255, 255, 255, 0.4);
	color: #662382;
}

.formStyle_input::-webkit-input-placeholder {
	color: #bebebe;
	font-size: 0.9em;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
}

.formStyle_input::-moz-placeholder {
	color: #bebebe;
	font-size: 0.9em;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
}

.formPopUp_item .valid {
	width: 58%;
	min-width: 215px;
	margin: 0 auto;
	font-size: 0.7em;
	color: #ff6200;
}
/* end of showForm_elements */
/* last form-section */
.last_question_wrap {
    background-color: rgba(253, 253, 253, 0.82);
}

.last_form_title {
	display: none;
}

.last_form {
	margin-top: 0;
}

.last_open_form {
	padding-top: 0;
}
/* end of last form-section */
/* footer */

footer {
	border-top: 4px solid #7F7F7F;
	padding: 5% 0;
	text-align: left;
	background: #FFFfff;
}
footer .tel {
	display: inline-block;
	width: 30%;
	vertical-align: middle;
}

.copywrite {
	display: inline-block;
	width: 69%;
	vertical-align: middle;
}
/* end of footer */
