body{
	font-family: sans-serif;
}

.answer{
	display:none;	
}

.showFAQ{
	display:block;
}

.question{
	cursor:pointer;
	background: rgb(255,239,213);
}

.faqQue{
	margin:5px;
	background: rgb(255,255,224);
}

.hideAns{
	color:rgb(255,69,0);
	cursor: pointer;
}