@media screen and (min-width:600px) {
	.new-window_list__1 {
		float: left;
		width: 200px;
		text-align: right;
	}

	.new-window_list__1 .window_list_item {
		text-align: right;
		padding-left: 0;
	}

	.new-window_list__2 {
		float: right;
		width: 200px;
		text-align: left;
	}

	.window_list_item {
		margin: 10% 0;
		position: relative;
		padding: 0 8px;
		width: 200px;
	}
	.new-window_list__1 .window_list_item::before {
		left: 100%;
	}

	.new-window_list__1 .window_list_item:nth-child(1) {
		margin-left: 30%;
	}

	.new-window_list__1 .window_list_item:nth-child(2) {
		margin-left: 15%;
	}

	.new-window_list__1 .window_list_item:nth-child(4) {
		margin-left: 15%;
	}

	.new-window_list__1 .window_list_item:nth-child(5) {
		margin-left: 30%;
	}

	.new-window_list__2 .window_list_item:nth-child(1) {
		margin-left: -30%;
	}

	.new-window_list__2 .window_list_item:nth-child(2) {
		margin-left: -15%;
	}

	.new-window_list__2 .window_list_item:nth-child(4) {
		margin-left: -15%;
	}

	.new-window_list__2 .window_list_item:nth-child(5) {
		margin-left: -30%;
	}
}


@media screen and (max-width:1920px) {
	
}

@media screen and (max-width:1440px) {
	
}

@media screen and (max-width:1024px) {
}

@media screen and (max-width:989px) {
	/* Андрій, тут потрібен твій хелп, бо так не працює) */
	.slick-prev, .slick-next, .slick-arrow {
		display: none;
	}
}

@media screen and (max-width:920px) {
	.new-window_more-options {
		padding-right: 15px;
    }
}

@media screen and (max-width:768px) {
	body {
		font-size: 14px;
	}

	.list-item,
	.benefits_item-text,
	.montague_list .montague_list_item::before {
		font-size: 14px;
	}

	.montague_list_item {
		font-size: 26.25px;
	}

	.window_list_item {
		width: 160px;
	}
}

@media screen and (max-width:700px) {
	.new-window_rightblock::before {
		display: none;
	}

	.new-window_rightblock {
		width: 45%;
	}
}

@media screen and (max-width:600px) {
	.threesixty .threesixty_images img {
		top: -40px;
	}

	.new-window_content {
		padding-top: 350px;
	}

	.new-window_list__1, .new-window_list__2 {
		width: 90%;
		padding: 0 5%;
	}

	.window_list_item {
		width: 100%;
		display: block;
		text-align: left;
		padding: 0 0 5px 0;
	}

	/* .window_list_item::before {
		display: none;
	} */

	.new-window_title-text {
		padding: 15px 5px;
	}

	.new-window_rightblock {
		padding-right: 5%;
		padding-left: 0;
		font-size: 1.2em;
	}

	.new-window_leftblock {
		font-size: 1em;
	}

	.new-window_leftblock span{
		font-size: 1.2em;
	}

	.window_list_item::before {
		content: "1";
		color: #e6e6e6;
		font-size: 1.4em;
		display: inline;
		background-color: transparent;
		font-weight: 700;
		padding-right: 5px;
		position: relative;
	}

	.new-window_list__1 .window_list_item:nth-child(2)::before {
		content: "2";
	}
	.new-window_list__1 .window_list_item:nth-child(3)::before {
		content: "3";
	}
	.new-window_list__1 .window_list_item:nth-child(4)::before {
		content: "4";
	}
	.new-window_list__1 .window_list_item:nth-child(5)::before {
		content: "5";
	}
	.new-window_list__2 .window_list_item:nth-child(1)::before {
		content: "6";
	}
	.new-window_list__2 .window_list_item:nth-child(2)::before {
		content: "7";
	}
	.new-window_list__2 .window_list_item:nth-child(3)::before {
		content: "8";
	}
	.new-window_list__2 .window_list_item:nth-child(4)::before {
		content: "9";
	}
	.new-window_list__2 .window_list_item:nth-child(5)::before {
		content: "10";
	}

@media screen and (max-width:480px) {
	body {
		font-size: 12px;
	}

	.list-item,
	.benefits_item-text,
	.montague_list .montague_list_item::before {
		font-size: 12px;
	}

	.montague_list_item {
		font-size: 22.5px;
	}
	
	.old-window_img {
		display: block;
	}

	.old-window__content {
		background: none;
	}
	
	.old-window__content {
		margin: 5% 0;
	}


	.old-window_list__left, .old-window_list__right {
		width: 90%;
		margin: 0 auto;
		text-align: right;
		padding: 0;
		float: none;
	}
	
	.old-window_list__left li, .old-window_list__right li {
		padding: 0 0 5px 0;
	}

	.new-window_leftblock, .new-window_rightblock {
		width: 90%;
		margin: 0 auto;
		float: none;
	}

	.new-window_titleblock {
		padding: 5% 0 0 0;
	}

	.new-window_title {
		padding-left: 20px;
	}

	.new-window_rightblock {
		padding-top: 20px;
	}
}

@media screen and (max-width:320px) {
	}